# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Logs
*.log

# IDE settings
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Test coverage reports
htmlcov/
.coverage
*.cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Cache files
*.cache
*.pkl